section {
  display: inline-block;
  margin: 100px auto;
  /* text-align: center; */
  background-color: red;
  height: 300px;
  width: 300px;
}

html {
  background-color: black;
  text-align: center;
  height: 100%;
}


